# See https://help.github.com/articles/ignoring-files/ for more about ignoring files.

# Dependencies
node_modules
.pnp
.pnp.js

# Local env files
.env
.env.local
.env.development
.env.development.local
.env.test.local
.env.production
.env.production.local

# Testing
coverage

# Turbo
.turbo

# Vercel
.vercel

# Build Outputs
.next/
out/
build
dist


# Debug
npm-debug.log*

# Misc
.DS_Store
*.pem
.prompts.md

**/private_keys/

# Misc
.vscode/

# We copy the built history viewer to the app public folder
# but we don't need to commit it
apps/app/public/history
apps/app_old/public/history

# Supabase local development files
supabase/.branches/
supabase/.temp/
